# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
cherrypicking/
__pycache__/
server/data/flights/
server/data/SO/
server/data/Folkstable/
server/data/german_credit/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
server/src/database_connection_dummy.env
server/.env