#MySideBar-main_div {
  height: 100vh;
  width: 16vw;
}
#SideBar-Content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 16vw;
}
#SideBar-Menu {
  height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 1vw;
}
#SideBar-top_divider {
  margin-top: 0%;
}
